<div class="masonry grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-8">
  {{ range . }}
  <div class="item">
    <div class="grid-content">
      {{ partial "components/summary-masonry" . }}
    </div>
  </div>
  {{ end }}

</div>
{{ $masonryInit := resources.Get "js/module-initializers/masonry.js" | resources.ExecuteAsTemplate "js/module-initializers/masonry.js" . | js.Build (dict "minify" true) | minify | fingerprint "sha384" }}
<script defer type="text/javascript" src="{{ $masonryInit.Permalink }}"></script>
