{{ if .Site.Params.comment.disqus.shortname }}
<div id="disqus_thread"></div>
{{ $disqusInit := resources.Get "js/module-initializers/disqus.js" | resources.ExecuteAsTemplate "js/module-initializers/disqus.js" . | js.Build (dict "minify" true) | minify | fingerprint "sha384" }}
<script defer type="text/javascript" src="{{ $disqusInit.Permalink }}"></script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="https://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
{{ end }}
