<script id="utterances" src="https://utteranc.es/client.js"
        {{- range $key, $value := .Site.Params.comment.utterances }}
          {{- if and (eq $key "theme") (eq $value "eureka") }}
            {{- if eq $.Site.Params.colorScheme "light" }}
              {{ printf "%s=%v" $key "github-light" | safeHTMLAttr }}
            {{- else if eq $.Site.Params.colorScheme "dark" }}
              {{ printf "%s=%v" $key "github-dark" | safeHTMLAttr }}
            {{- else }}
              {{ printf "%s=%v" $key "preferred-color-scheme" | safeHTMLAttr }}
            {{- end }}
          {{- else if or $value (eq $value false) }}
            {{ printf "%s=%v" $key $value | safeHTMLAttr }}
          {{- end }}
        {{- end }}
        crossorigin="anonymous"
        async>
</script>
{{ $utterancesInit := resources.Get "js/module-initializers/utterances.js" | resources.ExecuteAsTemplate "js/module-initializers/utterances.js" . | js.Build (dict "minify" true) | minify | fingerprint "sha384" }}
<script defer type="text/javascript" src="{{ $utterancesInit.Permalink }}"></script>
