<div id="valine-comments" class="mt-4"></div>
{{- $assets := .Site.Data.assets }}
<script defer src="{{ printf $assets.valine.js.url $assets.valine.version }}" {{ with $assets.valine.js.sri }}
  integrity="{{ . }}" {{ end }} crossorigin></script>
{{- with .Site.Params.comment.valine }}
{{ $valineInit := resources.Get "js/module-initializers/valine.js" | resources.ExecuteAsTemplate "js/module-initializers/valine.js" . | js.Build (dict "minify" true) | minify | fingerprint "sha384" }}
<script defer type="text/javascript" src="{{ $valineInit.Permalink }}"></script>
{{- end }}
